@{
    ViewData["Title"] = "Exercises";
    // 1
    var name = "Elsti";
    var surname = "Shehati";

    // 2
    var n = 10;
    int Sum(int n)
    {
        int sum = 0;
        for (int i = 1; i <= n; i++)
        {
            sum += i;
        }
        return sum;
    }

    // 3
    var phrase = "nel mezzo del cammin di nostra vita";
    int countLetter = phrase.ToCharArray().Count(c => c == 'a');


    // 4
    var randoms = new List<int>();
    var r = new Random();

    for (int i = 0; i < 20; i++)
    {
        randoms.Add(r.Next(1, 91));
    }


    // 5
    DateTime today = DateTime.Now;
    string currentTime = today.ToString("yyyy-MM-dd HH:mm:ss");


    // 6
    DateTime lastWeek = today.AddDays(-7);
    string todayDay = today.ToString("dddd");
    DateTime nextYear = today.AddYears(1);
    string nextYearDay = nextYear.ToString("dddd");
}




<div class="text-center">
    <h1 class="display-4 mb-2">Welcome back</h1>
    <h2>1) @name @surname</h2>
</div>


<div class="text-center mt-5">
    <h4>2) La somma dei numeri da 1 a @n è @Sum(n)</h4>
</div>

<div class="text-center mt-5">
    <h4>3) "@phrase" la lettera "A" compare @countLetter volte</h4>
</div>


<div class="text-center mt-5">
    <h4>4) Numeri compresi tra 20 e 70:</h4>
    <h5>
        @foreach (var number in randoms.Where(n => n >= 20 && n <= 70))
        {
            <span>@number</span>
        }
    </h5>    
</div>

<div class="text-center mt-5">
    <h4>5) La data e l'ora corrente sono: @currentTime</h4>
</div>

<div class="text-center mt-5">
    <h4>6) Data di oggi: @today</h4>
    <h4>Data di settimana scorsa: @lastWeek</h4>
    <h4>Il giorno della settimana di oggi è: @todayDay</h4>
    <h4>Tra un anno invece sarà: @nextYearDay</h4>
</div>